<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DoubleJ.Oms.Settings.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <DoubleJ.Oms.Settings.Properties.Settings>
            <setting name="ScaleId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SerialPort" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="BeefFileName" serializeAs="String">
                <value>c:\ProdSupport\Graphics\beef.jpg</value>
            </setting>
            <setting name="BisonFileName" serializeAs="String">
                <value>c:\ProdSupport\Graphics\bison.jpg</value>
            </setting>
            <setting name="DoubleJLogoFileName" serializeAs="String">
                <value>c:\ProdSupport\Graphics\doublej.jpg</value>
            </setting>
            <setting name="NoLogoImageFileName" serializeAs="String">
                <value>c:\ProdSupport\Graphics\nologo.jpg</value>
            </setting>
            <setting name="OrganicFileName" serializeAs="String">
                <value>c:\ProdSupport\Graphics\organic.jpg</value>
            </setting>
            <setting name="FdaBugFileName" serializeAs="String">
                <value>c:\ProdSupport\Graphics\fda.jpg</value>
            </setting>
            <setting name="LabelBaseFolder" serializeAs="String">
                <value>c:\ProdSupport\Labels\</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>admin</value>
            </setting>
            <setting name="ScaleIpAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="ScalePort" serializeAs="String">
                <value>10001</value>
            </setting>
            <setting name="ScaleRegExp" serializeAs="String">
                <value />
            </setting>
            <setting name="Printer" serializeAs="String">
                <value />
            </setting>
            <setting name="IsSecondaryLabel" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SecondLabel" serializeAs="String">
                <value />
            </setting>
            <setting name="SecondaryPrinter" serializeAs="String">
                <value />
            </setting>
        </DoubleJ.Oms.Settings.Properties.Settings>
    </userSettings>
</configuration>