@model CustomerSearchViewModel
@{
    ViewBag.Title = "Owner Management";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="content-container">
    <div id="content">
        <div style="text-align: right; float: right; padding: 10px; margin-top: 10px;" class="oms-button">
            @Html.ActionLink("Add", "Add", "Customer", null, new { @class = "k-button" })
        </div>
        <h1>Owner Management</h1>
        @Html.Partial("_SearchCriteria", Model)
        <div id="order-search-results">
            @if (Model.HasSessionCriteria)
            {
                @Html.Partial("_SearchResult", null)
            }
        </div>
    </div>
    <div style="clear: both; margin-bottom: 50px"></div>
</div>
@section SiteNavigation {
    @Html.Action("_Site", "Navigation", new { area = "", selected = OmsSiteNavigation.Customers })
}
